{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/exit.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet"/>
    <title>Document</title>
</head>
<body style="background: url({% static 'quants/same_elements/bg.png' %});">
    <header>
        <div class="header__inner">
            <a href="/main/"><img src="{% static 'img/logo-removebg-preview.png' %}" width="102.75"></a>
            <nav class="header-nav">
                <a href="/main/achievements/" class="header-nav-link">Достижения</a>
                <a href="/main/news/" class="header-nav-link">Новости</a>
                <a href="/main/contact" class="header-nav-link">Контакты</a>
                <div class="dropdown header-nav-link">
                    <button class="dropbtn">О нас
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/main/about">Сведения об организации</a>
                        <a href="/main/teachers">Педагогический состав</a>
                    </div>
                </div>
            </nav>
            {% if user.is_authenticated %}
            <div class="log"><a class="log" href="/main/admins/profile/news">Профиль</a></div>
            {% else %}
            <div class="log"><a class="log" href="/main/auth">Войти</a></div>
            {% endif %}
        </div>
    </header>
    <div class="alert">
        <div class="alert-title">Вы успешно вышли</div>
        <div class="alert-subtitle">Залогинтесь снова, чтобы войти повторно в аккаунт</div>
    </div>
</body>
</html>